@model PdfMaterial
@{
    ViewData["Title"] = "DisplayPdf";
}

<h1>DisplayPdf</h1>
// if studentFile=> pdf =>
or photo =>> new Code .. Like Vid Code
@* @{
    @if(Model.StudentFile.Contains(".pdf"))
    {
        <embed src="@Model.StudentFile" type="application/pdf" width="100%" height="800px">
        <br>
    } 
}
*@
<embed src="@Model.Pdf_Path" type="application/pdf" width="100%" height="800px">
<br>


