@{
    ViewData["Title"] = "Not Access";

}

<head>
    <title>Error 404</title>
</head>
<body>
    <div class="error404">
        <h1>Sorry</h1>
        <p>OOPS! Not Access</p>
        <p>
            You don't have access to this content <a asp-action="index" asp-controller="Home"><span>Return to Homepage</span></a>
        </p>
    </div>
</body>


